<% form_for_conductor @book_conductor do |form| %>
  <%= error_messages_for :book_conductor %>
  
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  
  <p>
    <%= form.label :publisher %> (Options are <%= @book.potential_publishers.to_sentence %>.)<br>
    <%= form.text_field :publisher %>
  </p>
  
  <h3>Authors</h3>
  
  <table>
    <tr>
      <th>Name</th>
      <th>Role</th>
    </tr>
    
    <% form.fields_for_association(:authorships, @book.potential_authorships) do |fields, authorship| -%>
      <tr>
        <td>
          <%= fields.check_box :author_id, { :checked => @book_conductor.authorships.include?(authorship) }, authorship.author_id %>
          <%= fields.label :author_id, authorship.author_name %>
        </td>
        <td>
          <%= fields.text_field :role %>
        </td>
      </tr>
    <% end -%>
  </table>
  
  <p><%= form.submit %></p>
<% end %>
