<h1>Books</h1>

<p><%= link_to "New Book", new_book_path %></p>

<table class="books">
  <tr class="odd">
    <th>Name</th>
    <th>Publisher</th>
    <th>Authors</th>
    <th>Tags</th>
    <th></th>
    <th></th>
  </tr>
  
  <% @books.each do |book| -%>
    <tr class="<%= cycle('even', 'odd') %>">
      <th><%=h book.name %></th>
      <td><%=h book.publisher %></td>
      <td><%=h book.author_names_and_roles.to_sentence %></td>
      <td><%=h book.tags.to_sentence %></td>
      <td><%= link_to "Edit", edit_book_path(book) %></td>
      <td><%= link_to "Delete", book_path(book), :method => :delete %></td>
    <tr>
  <% end %>
</table>
